body {
  margin: auto;
  background-color: #253e46;
  font-family: Arial, Helvetica, sans-serif;
  color: #fcfcfc;
  background-image: url(mig.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #253e46;
}
nav a {
  text-decoration: none;
  color: #f6c6cc;
  padding: 2%;
}
a {
  -webkit-transition: color;
  transition: color;
}
nav a:hover {
  background-color: #fcfcfc;
  color: #253e46;
}
header {
  font-size: 150%;
  text-align: center;
  background-color: #253e46;
}
